abigprojs/WebMech/WebMech/Service References/WebMechService/WebMechService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50577/WcfService/WebMechService.svc?xsd=xsd2" namespace="http:\WebMech.Web" />
  <xs:element name="AddSurface">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSurfaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http:\WebMech.Web" minOccurs="0" name="AddSurfaceResult" nillable="true" type="q1:SurfaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySurface">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http:\WebMech.Web" minOccurs="0" name="surfaceData" nillable="true" type="q2:SurfaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySurfaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSurface">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http:\WebMech.Web" minOccurs="0" name="surfaceData" nillable="true" type="q3:SurfaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSurfaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurfaceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="surfaceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurfaceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http:\WebMech.Web" minOccurs="0" name="GetSurfaceByIdResult" nillable="true" type="q4:SurfaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurfaceByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurfaceByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http:\WebMech.Web" minOccurs="0" name="GetSurfaceByNameResult" nillable="true" type="q5:SurfaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurfaceListPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http:\WebMech.Web" minOccurs="0" name="filterData" nillable="true" type="q6:SearchFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurfaceListPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http:\WebMech.Web" minOccurs="0" name="GetSurfaceListPageInfoResult" nillable="true" type="q7:PageInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurfaceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http:\WebMech.Web" minOccurs="0" name="filterData" nillable="true" type="q8:SearchFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurfaceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http:\WebMech.Web" minOccurs="0" name="GetSurfaceListResult" nillable="true" type="q9:ArrayOfSurfaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSample">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http:\WebMech.Web" minOccurs="0" name="surfaceData" nillable="true" type="q10:SurfaceData" />
        <xs:element minOccurs="0" name="imageName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="pointsName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pointsArray" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http:\WebMech.Web" minOccurs="0" name="UploadSampleResult" nillable="true" type="q11:SampleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySample">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http:\WebMech.Web" minOccurs="0" name="sampleData" nillable="true" type="q12:SampleData" />
        <xs:element minOccurs="0" name="imageName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="pointsName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pointsArray" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySampleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSample">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http:\WebMech.Web" minOccurs="0" name="sampleData" nillable="true" type="q13:SampleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSampleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampleListPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http:\WebMech.Web" minOccurs="0" name="filterData" nillable="true" type="q14:SearchFilterData" />
        <xs:element xmlns:q15="http:\WebMech.Web" minOccurs="0" name="surfaceData" nillable="true" type="q15:SurfaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampleListPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http:\WebMech.Web" minOccurs="0" name="GetSampleListPageInfoResult" nillable="true" type="q16:PageInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http:\WebMech.Web" minOccurs="0" name="filterData" nillable="true" type="q17:SearchFilterData" />
        <xs:element xmlns:q18="http:\WebMech.Web" minOccurs="0" name="surfaceData" nillable="true" type="q18:SurfaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http:\WebMech.Web" minOccurs="0" name="GetSampleListResult" nillable="true" type="q19:ArrayOfSampleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSample">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http:\WebMech.Web" minOccurs="0" name="sampleData" nillable="true" type="q20:SampleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http:\WebMech.Web" minOccurs="0" name="GetSampleResult" nillable="true" type="q21:Model3DData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>