abigprojs/WebMech/WebMech/Service References/WebMechService/WebMechService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http:\WebMech.Web" elementFormDefault="qualified" targetNamespace="http:\WebMech.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SurfaceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MeasurementCount" type="xs:int" />
      <xs:element minOccurs="0" name="ModificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurfaceData" nillable="true" type="tns:SurfaceData" />
  <xs:complexType name="SearchFilterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastMonths" type="xs:int" />
      <xs:element minOccurs="0" name="SearchType" type="tns:SearchType" />
      <xs:element minOccurs="0" name="SortDirection" type="tns:SortDirection" />
      <xs:element minOccurs="0" name="SortType" type="tns:SortType" />
      <xs:element minOccurs="0" name="Start" type="xs:int" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchFilterData" nillable="true" type="tns:SearchFilterData" />
  <xs:simpleType name="SearchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="LastMonths" />
      <xs:enumeration value="DateRange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchType" nillable="true" type="tns:SearchType" />
  <xs:simpleType name="SortDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortDirection" nillable="true" type="tns:SortDirection" />
  <xs:simpleType name="SortType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Name" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="NumberOfSamples" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortType" nillable="true" type="tns:SortType" />
  <xs:complexType name="PageInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:int" />
      <xs:element minOccurs="0" name="IsNext" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrevious" type="xs:boolean" />
      <xs:element minOccurs="0" name="Start" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageInfoData" nillable="true" type="tns:PageInfoData" />
  <xs:complexType name="ArrayOfSurfaceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurfaceData" nillable="true" type="tns:SurfaceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurfaceData" nillable="true" type="tns:ArrayOfSurfaceData" />
  <xs:complexType name="SampleData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParameterList" nillable="true" type="tns:ArrayOfParameterData" />
      <xs:element minOccurs="0" name="SampleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SurfaceId" type="xs:int" />
      <xs:element minOccurs="0" name="UploadDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleData" nillable="true" type="tns:SampleData" />
  <xs:complexType name="ArrayOfParameterData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParameterData" nillable="true" type="tns:ParameterData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameterData" nillable="true" type="tns:ArrayOfParameterData" />
  <xs:complexType name="ParameterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterData" nillable="true" type="tns:ParameterData" />
  <xs:complexType name="ArrayOfSampleData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SampleData" nillable="true" type="tns:SampleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampleData" nillable="true" type="tns:ArrayOfSampleData" />
  <xs:complexType name="Model3DData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PointList" nillable="true" type="tns:ArrayOfPointData" />
      <xs:element minOccurs="0" name="Xmax" type="xs:double" />
      <xs:element minOccurs="0" name="Xmin" type="xs:double" />
      <xs:element minOccurs="0" name="Ymax" type="xs:double" />
      <xs:element minOccurs="0" name="Ymin" type="xs:double" />
      <xs:element minOccurs="0" name="Zmax" type="xs:double" />
      <xs:element minOccurs="0" name="Zmean" type="xs:double" />
      <xs:element minOccurs="0" name="Zmin" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model3DData" nillable="true" type="tns:Model3DData" />
  <xs:complexType name="ArrayOfPointData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PointData" nillable="true" type="tns:PointData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPointData" nillable="true" type="tns:ArrayOfPointData" />
  <xs:complexType name="PointData">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
      <xs:element minOccurs="0" name="Z" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointData" nillable="true" type="tns:PointData" />
</xs:schema>