dotnet/csharp/ClientIPDetection/IPDetection/Service References/IpDetectionServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfIPDetectionService" />
  <xs:element name="GetClientInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfIPDetectionService" minOccurs="0" name="GetClientInfoResult" nillable="true" type="q1:ClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>