csharp/ClientIPDetection/IPDetection/Service References/IpDetectionServiceReference/WcfIPDetectionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfIPDetectionService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfIPDetectionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsController" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
</xs:schema>